*{
    text-decoration: none;
    list-style: none; 
    margin:0px;
    padding: 0px; 
    outline: none;
}


body{
    margin: 0px; 
    padding: 0px; 
    font-family: 'Open Sans', sans-serif;
}
.lorem{
    justify-content: center;
    background-color: blue;
}